@import "extends";
@import "../styles/main.scss";
@media (min-width: 1600px) {
  .about {
    background-color: $primary-black;
    padding: 2% 6%;

    .first_section {
      border-radius: 40px;
      background-color: #ffffff;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      display: flex;
      flex-direction: column;
      .top {
        display: flex;
        justify-content: space-between;

        .top_left {
          width: 25%;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          font-family: "Sans-Medium";
          font-size: 64px;
          font-style: normal;
          font-weight: 500;
          span {
            width: 100%;
            svg {
              width: 100%;
              opacity: 0.1;
            }
          }
          p {
            width: 100%;
            padding-top: 15%;
            padding-left: 20%;
          }
        }
        .top_right {
          width: 75%;
          padding: 2%;
          display: flex;
          flex-direction: column;
          .top_right_title {
            font-family: "Sans-Regular";
            display: flex;
            align-items: center;
            gap: 3%;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 72px;

            span {
              width: 200px;
              height: 2px;
              background-color: $primary-black;
            }
          }
          .top_right_container {
            display: flex;
            padding-top: 20px;
            gap: 10%;
            .top_right_container_svg {
              align-self: flex-end;
            }
            .top_right_container_desc {
              display: flex;
              flex-direction: column;
              gap: 30px;
              color: #000;
              font-family: SangBleu Sans;
              font-size: 32px;
              font-style: normal;
              font-weight: 400;
              line-height: 52px; /* 162.5% */
            }
          }
        }
      }
      .middle {
        padding: 2%;
        border-radius: 40px;
        height: 80vh;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        img {
          border-radius: 40px;

          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          -ms-border-radius: 40px;
          -o-border-radius: 40px;
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      .bottom {
        position: relative;
        display: flex;
        padding: 0 2%;
        width: 100%;
        justify-content: flex-end;
        .blur_content_another {
          position: absolute;
          .second_section_right_blur {
            border-radius: 30px;
            width: 516px;
            margin-top: -40%;
            padding: 40px 80px;
            background: rgba(255, 255, 255, 0.64);
            box-shadow: 0px 25px 35.5px 0px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(6px);
            color: $primary-black;
            font-family: "Sans-Regular";
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 42px;
          }
          .second_section_right_count {
            color: $primary-yellow;
            margin-left: 50%;
            backdrop-filter: blur(0px);
            margin-top: -18%;
            z-index: 2;
            font-family: "Sans-Regular";
            font-size: 150px;
            font-style: normal;
            font-weight: 400;
            line-height: 160px; /* 106.667% */
            letter-spacing: -0.375px;
            text-transform: capitalize;
          }
        }
      }
    }
    .second_section {
      margin-top: 7%;
      .second_section_members {
        padding-top: 7%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2%;
      }
    }
    .third_section {
      display: flex;
      flex-direction: column;
      .third_section_bottom {
        height: 50px;
        margin-top: -45px;
        background: linear-gradient(0deg, #1C1C1C 25%, rgba(28, 28, 28, 0.50) 77.77%, rgba(28, 28, 28, 0.00) 100%);
        z-index: 10;
      }
      .third_section_top {
        height: 50px;
        margin-bottom: -45px;
        background: linear-gradient(180deg, #1C1C1C 25%, rgba(28, 28, 28, 0.50) 77.77%, rgba(28, 28, 28, 0.00) 100%);
        z-index: 10;
      }
      .third_section_content {
        width: 100%;
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        .third_section_projects_done {
          display: flex;
          width: 25%;
          flex-direction: column;
          .yellow_content {
            height: 400px;
            padding: 15% 4%;
            display: flex;
            flex-direction: column;
            background: $primary-yellow;
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
            p {
              font-family: "Sans-Medium";
              color: $primary-black;
              font-size: 55.64px;
              font-style: normal;
              font-weight: 500;
              line-height: 69.551px; /* 125% */
            }
            svg {
              width: 120px;
              padding-right: 15px;
              align-self: flex-end;
            }
          }
          .count {
            border-radius: 110.785px;
            width: fit-content;

            padding: 20px 40px;
            margin-right: 7%;
            margin-top: -15%;
            align-self: flex-end;
            background: rgba(255, 255, 255, 0.65);
            font-family: "Sans-Regular";
            backdrop-filter: blur(6px);
            font-size: 83.461px;
            font-style: normal;
            font-weight: 400;
            line-height: 97.371px; /* 116.667% */
          }
        }
        .third_section_pv {
          display: flex;
          width: 70%;
          gap: 2%;

          div {
            width: 100%;
            height: 80vh;
            .swiper-wrapper {
              transition-timing-function: linear;
              border-radius: none;
              width: 100%;

              .swiper-slide {
                img{
                  border-radius: 40px;
                  -webkit-border-radius: 40px;
                  -moz-border-radius: 40px;
                  -ms-border-radius: 40px;
                  -o-border-radius: 40px;
}
                transition-timing-function: linear;
                border-radius: 40px;
                -webkit-border-radius: 40px;
                -moz-border-radius: 40px;
                -ms-border-radius: 40px;
                -o-border-radius: 40px;
              }
            }
          }
        }
      }
    }
  }
}
