@import "extends";
@media only screen and (min-width: 1600px) {
  .blog {
    padding: 2% 6%;
    padding-bottom: 80px;
    background-color: $primary-black;
    color: #ffffff;
    .blog__image-wrapper {
      position: relative;
      width: 100%;
    }
    img {
      width: 100%;
      height: 478px;
      object-fit: cover;
      border-radius: 36px;
    }
    .blog__hashtag {
      position: absolute;
      top: 24px;
      right: 24px;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 54.669px; /* 227.788% */
      letter-spacing: 0.12px;
      padding: 3px 24px;
      border-radius: 32px;
      background: rgba(255, 255, 255, 0.35);
      backdrop-filter: blur(18.22304916381836px);
    }
    .blog__header-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;
      border-bottom: 1px solid #fff;
      margin-bottom: 24px;
      span {
        &:first-child {
          margin-right: 11px;
        }
        display: flex;
        align-items: center;
        width: fit-content;
        p {
          margin: 0;
          margin-left: 10px;
          font-family: SangBleu Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 54.669px; /* 227.788% */
        }
      }
      .blog__title {
        font-family: SangBleu Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; /* 162.5% */
      }
    }
    .blog__description {
      font-family: SangBleu Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 166.667% */
    }
  }
  .blogs-wrapper {
    display: flex;
    padding: 30px 15px;
    overflow-x: scroll;
    background-color: #272727;
    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary-yellow-50;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      -webkit-border-radius: 15px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-yellow;
    }
    .blogs__item {
      box-sizing: content-box; /* So the width will be 100% + 17px */
      border-radius: 26px !important;
      min-width: 25%;
      margin-left: 20px;
      .blog__item-img {
        position: relative;
        img {
          height: 230px;
          width: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
        p {
          position: absolute;
          top: 8px;
          right: 15px;
          padding: 5px;
          border-radius: 8px;
          font-weight: bold;
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0.35);
        }
      }
      padding: 16px;
      border-radius: 10px;
      background-color: #ffffff;
      .blog__item-title {
        margin-top: 10px;
        margin-bottom: 8px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 13.564px;
        color: #1c1c1c;
      }
      .blog__item-text {
        max-height: 68px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.055px;
        color: #1c1c1c;
      }
      .blog__item-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        .blog__item-date {
          display: flex;
          align-items: center;
          p {
            margin-left: 5px;
            color: #969696;
          }
        }
        .blog__item-views {
          display: flex;
          align-items: center;
          margin-left: 10px;
          p {
            margin-left: 5px;
            color: #969696;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .blog {
    padding: 2% 6%;
    padding-bottom: 80px;
    background-color: $primary-black;
    color: #ffffff;
    .blog__image-wrapper {
      position: relative;
      width: 100%;
    }
    img {
      width: 100%;
      height: 478px;
      object-fit: cover;
      border-radius: 36px;
    }
    .blog__hashtag {
      position: absolute;
      top: 24px;
      right: 24px;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 54.669px; /* 227.788% */
      letter-spacing: 0.12px;
      padding: 3px 24px;
      border-radius: 32px;
      background: rgba(255, 255, 255, 0.35);
      backdrop-filter: blur(18.22304916381836px);
    }
    .blog__header-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;
      border-bottom: 1px solid #fff;
      margin-bottom: 24px;
      span {
        &:first-child {
          margin-right: 11px;
        }
        display: flex;
        align-items: center;
        width: fit-content;
        p {
          margin: 0;
          margin-left: 10px;
          font-family: SangBleu Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 54.669px; /* 227.788% */
        }
      }
      .blog__title {
        font-family: SangBleu Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; /* 162.5% */
      }
    }
    .blog__description {
      font-family: SangBleu Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 166.667% */
    }
  }
  .blogs-wrapper {
    display: flex;
    padding: 30px 15px;
    overflow-x: scroll;
    background-color: #272727;
    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary-yellow-50;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      -webkit-border-radius: 15px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-yellow;
    }
    .blogs__item {
      box-sizing: content-box; /* So the width will be 100% + 17px */
      border-radius: 26px !important;
      min-width: 38%;
      margin-left: 20px;
      .blog__item-img {
        position: relative;
        img {
          height: 230px;
          width: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
        p {
          position: absolute;
          top: 8px;
          right: 15px;
          padding: 5px;
          border-radius: 8px;
          font-weight: bold;
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0.35);
        }
      }
      padding: 16px;
      border-radius: 10px;
      background-color: #ffffff;
      .blog__item-title {
        margin-top: 10px;
        margin-bottom: 8px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 13.564px;
        color: #1c1c1c;
      }
      .blog__item-text {
        max-height: 68px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.055px;
        color: #1c1c1c;
      }
      .blog__item-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        .blog__item-date {
          display: flex;
          align-items: center;
          p {
            margin-left: 5px;
            color: #969696;
          }
        }
        .blog__item-views {
          display: flex;
          align-items: center;
          margin-left: 10px;
          p {
            margin-left: 5px;
            color: #969696;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 350px) and (max-width: 1200px) {
  .blog {
    padding: 2% 6%;
    padding-bottom: 80px;
    background-color: $primary-black;
    color: #ffffff;
    .blog__image-wrapper {
      position: relative;
      width: 100%;
    }
    img {
      width: 100%;
      height: 478px;
      object-fit: cover;
      border-radius: 36px;
    }
    .blog__hashtag {
      position: absolute;
      top: 24px;
      right: 24px;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0.12px;
      padding: 5px 12px;
      border-radius: 32px;
      background: rgba(255, 255, 255, 0.35);
      backdrop-filter: blur(18.22304916381836px);
    }
    .blog__header-wrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: start;
      padding-bottom: 24px;
      border-bottom: 1px solid #fff;
      margin-bottom: 24px;
      svg{
        width: 20px;
      }
      span {
        &:first-child {
          margin-right: 20px;
        }
        display: flex;
        align-items: center;
        width: fit-content;
        p {
          margin: 0;
          margin-left: 14px;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 35.144px; /* 251.032% */
          letter-spacing: 0.07px;
        }
      }
      .blog__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 33.429px; /* 167.143% */
      }
    }
    .blog__description {
      font-size: 15.429px;
      font-style: normal;
      font-weight: 400;
      line-height: 25.714px; /* 166.667% */
    }
  }
  .blogs-wrapper {
    display: flex;
    padding: 30px 15px;
    overflow-x: scroll;
    background-color: #272727;
    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary-yellow-50;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      -webkit-border-radius: 15px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-yellow;
    }
    .blogs__item {
      box-sizing: content-box; /* So the width will be 100% + 17px */
      border-radius: 26px !important;
      min-width: 80%;
      margin-left: 20px;
      .blog__item-img {
        position: relative;
        img {
          height: 230px;
          width: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
        p {
          position: absolute;
          top: 8px;
          right: 15px;
          padding: 5px;
          border-radius: 8px;
          font-weight: bold;
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0.35);
        }
      }
      padding: 16px;
      border-radius: 10px;
      background-color: #ffffff;
      .blog__item-title {
        margin-top: 10px;
        margin-bottom: 8px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 13.564px;
        color: #1c1c1c;
      }
      .blog__item-text {
        max-height: 68px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.055px;
        color: #1c1c1c;
      }
      .blog__item-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        .blog__item-date {
          display: flex;
          align-items: center;
          p {
            margin-left: 5px;
            color: #969696;
          }
        }
        .blog__item-views {
          display: flex;
          align-items: center;
          margin-left: 10px;
          p {
            margin-left: 5px;
            color: #969696;
          }
        }
      }
    }
  }
}
