@import "extends";
@import "../styles/main.scss";
@media only screen and (min-width: 1600px) {
  .contacts {
    background: $primary-black;
    padding: 2% 6%;
    .contacts_container {
      position: relative;
      background: #fff;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      .contacts_details {
        display: flex;
        text-align: flex-start;
        form {
          width: 50%;
          padding: 45px 45px;
          display: flex;
          flex-direction: column;
          gap: 40px;
          p {
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 72px;
            font-family: "Sans-Regular";
            padding: 15px 0;
          }
          input,
          textarea {
            resize: none;
            background: #e5e5e5;
            outline: none;
            border: none;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 150% */
            letter-spacing: 0.1px;
            color: #1c1c1c;
            border-radius: 14px;
            padding: 20px 20px;
            resize: none;
          }
          .form_btn {
            place-self: end;
          }
        }
        .contacts_details_right {
          margin-top: 11em;
          margin-left: 5%;
          display: flex;
          gap: 5%;
          flex-direction: column;
          text-align: start;
          align-items: flex-start;
          .contact_sectors {
            gap: 24px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .title {
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            text-transform: lowercase;
          }
          .desc {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
          }
          .social {
            display: flex;
            flex-direction: column;
            span {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10%;
              svg {
                width: 40px;
                height: 40px;
                &:last-child {
                  width: 50px;
                }
              }
            }
          }
          .contact_pattern {
            width: 20%;
            right: 0;
            top: 0;
            opacity: 0.15;
            position: absolute;
          }
        }
      }
      .contacts_map {
        iframe {
          height: 55vh;
          border-radius: 0 0 40px 40px;
          -webkit-border-radius: 0 0 40px 40px;
          -moz-border-radius: 0 0 40px 40px;
          -ms-border-radius: 0 0 40px 40px;
          -o-border-radius: 0 0 40px 40px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .contacts {
    background: $primary-black;
    padding: 2% 6%;
    .contacts_container {
      position: relative;
      background: #fff;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      .contacts_details {
        display: flex;
        text-align: start;
        form {
          width: 50%;
          padding: 45px 45px;
          display: flex;
          flex-direction: column;
          gap: 40px;
          p {
            font-size: 41px;
            font-style: normal;
            font-weight: 400;
            line-height: 72px;
            font-family: "Sans-Regular";
            padding: 15px 0;
          }
          input,
          textarea {
            background: #e5e5e5;
            outline: none;
            border: none;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 150% */
            letter-spacing: 0.1px;
            color: #1c1c1c;
            border-radius: 14px;
            padding: 10px 10px;
            resize: none;
          }
          .form_btn {
            place-self: end;
          }
        }
        .contacts_details_right {
          margin-top: 11em;
          margin-left: 5%;
          display: flex;
          gap: 5%;
          flex-direction: column;
          text-align: start;
          align-items: flex-start;
          .contact_sectors {
            gap: 24px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .title {
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            text-transform: lowercase;
          }
          .desc {
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
          }
          .social {
            span {
              display: flex;
              width: 100%;
              gap: 5%;
            }
          }
          .contact_pattern {
            width: 20%;
            right: 0;
            top: 0;
            opacity: 0.15;
            position: absolute;
          }
        }
      }
      .contacts_map {
        iframe {
          height: 55vh;
          border-radius: 0 0 40px 40px;
          -webkit-border-radius: 0 0 40px 40px;
          -moz-border-radius: 0 0 40px 40px;
          -ms-border-radius: 0 0 40px 40px;
          -o-border-radius: 0 0 40px 40px;
        }
      }
    }
  }
}
@media only screen and (min-width: 350px) and (max-width: 1200px) {
  .contacts {
    background: $primary-black;
    padding: 2% 6%;
    .contacts_container {
      position: relative;
      background: #fff;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      .contacts_details {
        display: flex;
        flex-direction: column;
        text-align: flex-start;
        form {
          width: 100%;
          padding: 6%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          p {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 29.59px; /* 123.293% */
            padding: 2 % 0;
          }
          input,
          textarea {
            resize: none;
            background: #e5e5e5;
            outline: none;
            border: none;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.286px;
            /*160.714%*/
            letter-spacing: 0.06px;
            color: #1c1c1c;
            border-radius: 5px;
            padding: 10px 10px;
            resize: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
          .form_btn {
            place-self: end;
          }
        }
        .contacts_details_right {
          margin-left: 5%;
          display: flex;
          flex-wrap: wrap;
          gap: 15%;
          text-align: start;
          align-items: flex-start;
          .contact_sectors {
            gap: 12px;
            margin-bottom: 35px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .title {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32.143px; /* 160.714% */
            text-transform: lowercase;
          }
          .desc {
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 20.571px; /* 158.242% */
          }
          .social {
            display: flex;
            flex-direction: column;
            span {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10%;
              svg {
                width: 40px;
                height: 40px;
                &:last-child {
                  width: 50px;
                }
              }
            }
          }
          .contact_pattern {
            width: 20%;
            right: 0;
            top: 0;
            opacity: 0.15;
            display: none;
            position: absolute;
          }
        }
      }
      .contacts_map {
        iframe {
          height: 35vh;
          border-radius: 0 0 40px 40px;
          -webkit-border-radius: 0 0 40px 40px;
          -moz-border-radius: 0 0 40px 40px;
          -ms-border-radius: 0 0 40px 40px;
          -o-border-radius: 0 0 40px 40px;
        }
      }
    }
  }
}
