@import "extends";
@import "main.scss";
@media (min-width: 1440px) {
  .projects {
    padding: 2% 6%;
    background-color: $primary-black;
    .gallery-wrapper {
      .buttons {
        margin: 4% 0;
        display: flex;
        justify-content: space-between;
        button {
          background: none;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px; /* 133.333% */
          color: #fff;
          gap: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 16px 36px;
          border-radius: 20px;
          border: 1px solid #f3cd00;
        }
        .active {
          background-color: #f3cd00;
          color: #000;
          svg {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            path {
              fill: #000;
            }
          }
        }
      }
      .gallery {
        width: 100%;
        .swiper_gallery {
          display: flex;
          height: 65vh;
        }
        .gallery_images {
          width: 77%;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .thumbs_images {
          border-radius: 0 !important;
          width: 20%;
          -webkit-border-radius: 0 !important;
          -moz-border-radius: 0 !important;
          -ms-border-radius: 0 !important;
          -o-border-radius: 0 !important;
          .swiper-slide {
            opacity: 0.4;
            transition: opacity 0.3s ease-in-out;
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            &:hover {
              opacity: 1;
            }
            img {
              border-radius: 20px !important;
              -webkit-border-radius: 20px !important;
              -moz-border-radius: 20px !important;
              -ms-border-radius: 20px !important;
              -o-border-radius: 20px !important;
            }
          }
        }
        .gallery-buttons {
          position: absolute;
          z-index: 10;
          gap: 20px;
          display: flex;
          width: fit-content;
          bottom: 25px;
          right: 50px;
          button {
            background: none;
            outline: none;
            display: flex;
            border-radius: 50%;
            padding: 5%;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
        }
      }
    }
    .wrapper_360 {
      margin: 10% 0;
      .cards_360 {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4%;
        width: 100%;
        place-items: center;
        place-content: center;
        align-items: center;
        justify-content: center;
        .card_360 {
          width: 100%;
          .image_wrap {
            width: 100%;
            position: relative;
            img {
              width: 100%;
              height: 100%;
            }
            span {
              position: absolute;
              top: 10px;
              right: 10px;
              border-radius: 7.714px;
              background: rgba(255, 255, 255, 0.5);
              display: flex;
              padding: 6.429px;
              justify-content: center;
              align-items: center;
              gap: 6.429px;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
          .link_button {
            margin-top: 55px;
            background: none;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            /*133.333%*/
            color: #fff;
            gap: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 36px;
            border-radius: 20px;
            border: 1px solid #f3cd00;
            transition: all 0.7s ease-in-out;
            -webkit-transition: all 0.7s ease-in-out;
            -moz-transition: all 0.7s ease-in-out;
            -ms-transition: all 0.7s ease-in-out;
            -o-transition: all 0.7s ease-in-out;
            svg {
              path {
                transition: all 0.7s ease-in-out;
                -webkit-transition: all 0.7s ease-in-out;
                -moz-transition: all 0.7s ease-in-out;
                -ms-transition: all 0.7s ease-in-out;
                -o-transition: all 0.7s ease-in-out;
                fill: #fff;
              }
            }
            &:hover {
              background-color: #f3cd00;
              color: #000;
              svg {
                path {
                  fill: #000;
                }
              }
            }
          }
        }
      }
    }
    .process_wrapper {
      .process_wrapper_title {
        display: flex;
        width: 50%;
        justify-content: flex-start;
        align-items: center;
        p {
          font-size: 64px;
          width: 100%;
          font-style: normal;
          font-weight: 400;
          line-height: 72px; /* 112.5% */
          color: #fff;
        }
        svg {
          place-self: start;
          width: 15%;
        }
      }
      .process_wrapper_contents {
        display: flex;

        .steps {
          width: 10%;
        }
      }
    }
  }
}
