.cursorDiv{
    margin-left: -15px;
    margin-top: -15px;
}
.cursor {
  width: 15px;
  height: 15px;
  margin: 12.5px;
  background-color: #e5e5e5;
}
.cursor,
.cursorFollower {
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease;
  -webkit-transition: transform 0.1s ease;
  -moz-transition: transform 0.1s ease;
  -ms-transition: transform 0.1s ease;
  -o-transition: transform 0.1s ease;
}

.cursorFollower {
  width: 40px;
  height: 40px;
  background: #e5e5e558;
  z-index: 9998;
  transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
  -webkit-transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
  -moz-transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
  -ms-transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
  -o-transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
}
