@media only screen and (min-width: 350px) and (max-width: 1200px) {
  .cursorDiv{
    display: none;
  }
  .cursor{
    display: none;
  }
}
.cursorDiv{
    margin-left: -15px;
    margin-top: -15px;
    z-index: 99999;
}
.cursor {
  z-index: 99999;
  width: 15px;
  height: 15px;
  margin: 12.5px;
  background-color: #e5e5e5;
}
.cursor,
.cursorFollower {
  z-index: 99999;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: transform 0.1s ease;
  -webkit-transition: transform 0.1s ease;
  -moz-transition: transform 0.1s ease;
  -ms-transition: transform 0.1s ease;
  -o-transition: transform 0.1s ease;
}

.cursorFollower {
  z-index: 99998;
  width: 40px;
  height: 40px;
  background: #ffffff6c;  
  transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
  -webkit-transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
  -moz-transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
  -ms-transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
  -o-transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease,    border-width 0.2s ease;
}
